.dev-icons-languages {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.language-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.language-img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 10px;
}

.language-name {
  margin-top: 6px;
  font-size: 0.6rem;
  text-align: center;
  color: #aaa;
}